/*This is my frst comment and I hope it work*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
h1 {
    /*size del font*/
    font-size: 40px;
    color:blueviolet;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    color:red;
}
body{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
div #zen-preamble {
    background-image: linear-gradient(to right, green, yellow, orange, red);
    border: 6px solid gray;
    margin: 2px;
    padding: 20px;
}
h3 {
    font-size: medium;
    color: orange;
    font-family: Verdana;
    font-style: italic;
}
div #design-selection {
    /* background-color: yellow; */
    border: 6px solid rgb(11, 11, 104);
    margin: 40px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: right, center, left;
    background-size: 300px 300px;
    background-image: url(img/380998-PC2FOX-629.jpg), url(img/20230824.jpg), linear-gradient(lightblue, blueviolet);
}
