body{
    background: url(img/zen-bg.jpg);
    margin: unset;
    padding: 200px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

h1,h2,h3,h4,h5,h6{
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-size: 50px
        font-style: normal;
        color: dimgray;
        padding: 20px;
      }

section.intro header>h1 {
    font-size: 70px;
    color: sandybrown;
    text-align: center;
    padding: 20px;
    background: -webkit-linear-gradient(rgb(76, 201, 243), #fff);
    /* -webkit-background-clip: text; */
    /* -webkit-animation-fill-color: trasparent; */
}

p, footer{
    padding-left: 20px;
    padding-right: 20px;
}

p::first-letter{
    font-size: 40px;
    font-family: "Indie Flower", cursive;
}

div.page-wrapper{
    background: #fff;
    opacity: 0.7;
}

div.summary{
    padding: 10px;
    background: gray;
}

a:link{
    color: #198430;
}
a:hover{
    color:blue;
}
a:active{
    color: red;
}
a:visited{
    color: purple;
}
